body {
    background-color: #000000;
    font-size: 1rem;
    font-family: 'Lora', serif;
  }

  #bild {
    position: fixed;
    right: 0;
  }

  #covbild {
    position: fixed;
    left: 0;
  }
  
  main, header, footer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }

  p {
    color: #ffffff;
    font-family: 'Lora', serif;
  }
  
  h1 {
    font-size: 3rem;
    color: #000000;
    background-color: #ff0000;
  }
  
  h2 {
    color: #ffffff;
    border-bottom: 2px solid #ff0000;
  } 
  
  .size {
    color: #ffffff;
    margin-bottom: 0.2px;
    font-size: large;
  }

  li {
    color: #ffffff;
  }

  .fet {
    color: #ffffff;
    font-weight: 900;
  }